article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
a {
	margin: 0;
	padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222222;
}

::-webkit-scrollbar-thumb {
	background: rgb(100, 98, 98);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	font-size: 12px;

	@media (min-width: 400px) {
		font-size: 16px;
	}
	@media (min-width: 800px) {
		font-size: 18px;
	}
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	scrollbar-color: rgb(100, 98, 98) #222222;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;

	&.disable_scroll {
		overflow: hidden;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
}

.footer {
	background-color: #0f1525;
}

.wrapper {
	min-width: 300px;
	max-width: 1200px;
	width: 90vw;
	margin: 0 auto;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}