.skiptarget {
	width: 1px;
	height: 1px;
	overflow: hidden;
	float: right;
}

.skip-to-content-link {
	background: #4b4797;
	color: white;
	height: 30px;
	left: 50%;
	padding: 8px;
	position: absolute;
	transform: translateY(-150%);
	transition: transform 0.3s;
	line-height: 1.5;

	&:focus {
		transform: translateY(0%);
	}
}
