@use '../../styles/tools' as *;

@mixin card-background($color1, $color2) {
	background: linear-gradient(218.46deg, $color1, $color2);
}

.card {
	justify-self: center;
	width: 100%;
	max-width: 265px;
	height: 320px;
	margin-bottom: 1.5rem;
	border-radius: 12px;
	color: #fff;
	border: 2px solid white;
	position: relative;
	display: flex;
	align-items: flex-end;

	background: linear-gradient(
		218.46deg,
		hsl(232, 100%, 28%) 9.79%,
		hsl(262, 38%, 42%) 74.73%
	);

	&__content {
		height: 100%;
		display: grid;
		align-items: center;
		width: 100%;
		text-align: center;
		position: relative;
		transition: transform $d $e;
		z-index: 1;

		> * + * {
			margin-top: 1rem;
		}
	}

	&:hover,
	&:focus {
		border: 2px solid #4b4797;
		box-shadow: 0px 8px 16px rgba(116, 111, 111, 0.14);
	}

	&__image {
		height: max-content;
		align-self: center;
	}

	img {
		justify-self: center;
		object-fit: scale-down;
	}

	&__title {
		padding: 0 0.5rem;
		height: max-content;
		align-self: flex-start;
		color: #0f1525;
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 135%;
		order: 1;
	}

	&__soon {
		position: absolute;
		top: 0.5rem;
		left: -3px;
	}

	&__desc {
		position: absolute;
		font-size: 1rem;
		padding: 0 1rem;
		color: #000000;
		opacity: 0;
	}

	&[bgcolor='1'] {
		@include card-background(#9779d3 9.79%, #febbba 74.73%);
	}

	&[bgcolor='2'] {
		@include card-background(#f4b65e 9.79%, #e8d5d4 96.99%);
	}

	&[bgcolor='3'] {
		@include card-background(#479aaa 9.79%, #c9d8fc 96.99%);
	}

	&[bgcolor='4'] {
		@include card-background(#c9d8fc 9.79%, #e8d5d4 96.99%);
	}

	&[bgcolor='5'] {
		@include card-background(#ff928e 9.79%, #febbba 74.73%);
	}

	&[bgcolor='6'],
	&[bgcolor='0'] {
		@include card-background(#d14981 9.79%, #dae3fe 79.73%);
	}

	@include respond-to('lt-tablet') {
		grid-template-rows: 1fr;
		height: 18rem;

		&__image {
			display: none;
		}

		&__title {
			align-self: flex-start;
			transform: translateY(0);
			margin-top: 2rem;
			font-size: 1.3rem;
		}

		&__desc {
			opacity: 1;
		}

		&__soon {
			width: 85px;
		}
	}
}

@include respond-to('mt-tablet') {
	.card--desc {
		.card__image,
		.card__title,
		.card__desc {
			transition: transform $d $e, opacity $d $e;
		}

		.card__desc {
			opacity: 0;
			transform: translateY(1rem);
		}

		&:hover,
		&:focus {
			.card__image {
				opacity: 0;
				transform: translateY(-30%);
			}

			.card__title {
				transform: translateY(-9rem);
			}

			.card__desc {
				opacity: 1;
				transform: translateY(0);
				transition-delay: $d / 8;
			}
		}

		&:focus {
			.card__title,
			.card__image,
			.card__desc {
				transition-duration: 0s;
			}
		}
	}
}
