@use '../tools' as *;
@use '../../components/header/header';
@use '../../components/highlights/highlights';
@use '../../components/card/card';
@use '../../components/carousel/carousel';
@use '../../components/footer/footer';

.home {
	&__mobile-search {
		@include search_button;
		width: 100%;
		max-height: 55px;
		height: 55px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
		margin-top: 0;
		border-radius: 0;

		a {
			font-size: 1.5rem;
			display: block;
			width: inherit;
			height: inherit;
			display: flex;
			align-items: center;
			padding-left: 1rem;
		}

		@include respond-to('mt-tablet') {
			display: none;
		}
	}

	&__cards {
		margin: 2rem auto;
		display: grid;
		grid-template-rows: max-content;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;

		@media screen and (max-width: 1240px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (max-width: 700px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
