.footer-carousel {
	height: 290px;
	background-color: #29314f;

	.carousel-heading {
		color: #ffffff;
		font-weight: 500;
		font-size: 1rem;
		line-height: 150%;
		text-transform: uppercase;
		position: absolute;
		top: 1.5rem;
	}

	.wrapper {
		position: relative;
		display: flex;
		height: 100%;
	}

	.controls {
		position: absolute;
		right: 0;
		top: 1rem;
	}

	.videos_container {
		overflow-x: scroll;
		display: flex;
		scroll-behavior: smooth;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		user-select: none;
		cursor: grab;

		&.active {
			cursor: grabbing;
		}
	}

	.videos {
		display: flex;
		overflow: none;
		align-self: flex-end;
		margin-bottom: 2rem;

		iframe {
			width: 360px;
			height: 190px;
			margin-right: 2rem;
			display: grid;
			place-content: center;
			transition: transform 0.3s ease;
		}
	}
}