@use '../../styles/tools' as *;

.footer {
	background-color: #0f1525;
	color: #ffffff;

	a {
		font-size: 0.8rem;
		text-decoration: underline;
	}

	&__wrapper {
		max-width: 1260px;
		margin: 0 auto;
	}

	&__main {
		display: grid;
		grid-template-columns: 1fr 3fr;
		padding: 40px 1rem;
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;

		@include respond-to('lt-laptop') {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, max-content);

			&__section {
				&:first-child {
					grid-area: 1 / 1 / 3 / 2;
				}
			}
		}
	}

	&__links-section {
		p {
			font-size: 16px;
			font-weight: 600;
		}

		a {
			display: block;
			margin-top: 1rem;
		}

		@include respond-to('lt-laptop') {
			&:first-child {
				grid-area: 1 / 1 / 3 / 2;
			}
		}
	}

	&__logo {
		margin-right: 1rem;
		height: max-content;

		img {
			width: 13rem;
		}
	}

	.attribute {
		background-color: #273051;

		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			min-height: 48px;
			padding: 0 1rem;
			width: 100%;
		}

		&__links {
			display: flex;
			align-items: center;

			a {
				margin-left: 1.5rem;

				&:first-of-type {
					margin-left: 0;
				}
			}
		}

		&__logos,
		&__social {
			a {
				margin-right: 1rem;
			}
		}
	}

	@include respond-to('lt-tablet') {
		&__main {
			grid-template-columns: 1fr !important;
		}

		&__container {
			justify-content: space-evenly;
			padding: 1rem 0;
		}

		&__logo {
			width: max-content;
			margin: 0 auto;
			margin-bottom: 2rem;
		}

		&__links {
			flex-basis: 100%;
			margin-bottom: 2rem;
			justify-content: space-evenly;
		}

		&__links-section {
			&:nth-child(2),
			&:nth-child(3) {
				justify-self: end;
				width: 210px;
			}
		}

		.attribute {
			.wrapper {
				justify-content: space-evenly;
				padding: 1rem 0;
			}

			&__links {
				flex-basis: 100%;
				margin-bottom: 2rem;
				justify-content: space-evenly;
			}
		}
	}

	@include respond-to('lt-tablet') {
		&__links {
			margin: 0 auto;
			grid-template-columns: 1fr;
		}

		&__links-section {
			width: 100%;
			justify-self: center;

			a {
				font-size: 14px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				justify-self: center;
				margin-top: 2rem;
				width: 100%;
			}
		}
	}
}
