@use '../../styles/tools' as *;

.highlights {
	min-height: 80px;
	background-color: #29314f;
	color: #ffffff;
	padding: 1rem 0;

	a {
		text-decoration: underline;
	}

	&__bar {
		height: 60%;
		min-height: 30px;
		width: 4px;
		background-color: #a090ff;
		border-radius: 4px;
	}

	&__container {
		display: grid;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		grid-template-columns: max-content 1fr max-content;
	}

	.news {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		&__item {
			visibility: hidden;
			width: 100%;
			position: absolute;
			left: -100%;
			z-index: -1;

			&--current {
				visibility: visible;
				position: static;
			}
		}
	}

	&__text {
		display: block;
		margin: 1rem 1.5rem;
		font-size: 14px;
		line-height: 1.5;
		max-width: 900px;
	}

	&__controls {
		@include control-button;
	}

	&__back {
		img {
			transform: rotate(180deg);
		}
		margin-right: 0.5rem;
	}

	@include respond-to('lt-tablet') {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr max-content;

		&__text,
		span {
			grid-row-start: 1;
		}

		&__controls {
			justify-self: center;
			margin-top: 1rem;
			grid-column: 1 / 3;
		}
	}
}
