@use 'pages/home';
@use 'pages/chapter';

$d: 700ms;
$e: cubic-bezier(0.19, 1, 0.22, 1);
$midMobile: 640px;
$midScreen: 800px;

.footer {
	background-color: #0f1525;
}

.suggested {
	height: 12px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	line-height: 130%;
	text-align: start;
	padding-left: 1rem;
	padding-top: 0.5rem;
}

.content {
	margin: 2rem auto;
	display: grid;
	grid-template-columns: 17rem 1fr;

	a span {
		color: #4b4797 !important;
	}

	p {
		margin: 0.7rem 0;
	}

	.sidebarPlaceholder {
		margin-left: -36px;
	}

	// Desktop sidebar
	.sidebar {
		width: 17rem;
		background: rgba(66, 47, 161, 0.05);
		border-radius: 10px;
		position: sticky;
		top: 1rem;

		.dropdown-content {
			list-style: none;
			padding: 0;

			z-index: 1;
			width: 100%;

			li.sidebarLink {
				align-items: center;
				margin: 0.5rem;
				font-size: 16px;

				a {
					display: block;
					width: inherit;
					height: inherit;
					margin: 0.5rem;
					display: grid;
					grid-template-columns: max-content 1fr;
					grid-gap: 1rem;
					text-align: start;
				}
			}
			> div {
				&.activeSidebar {
					.sidebarLink {
						background: rgba(66, 47, 161, 0.1);
						border-color: transparent;
						box-shadow: 0 0 0 1px #a090ff;
						border-radius: 10px;
					}
					.subHeading {
						display: block;
					}
				}
				&:hover {
					.sidebarLink {
						background: rgba(66, 47, 161, 0.1);
						border-color: transparent;
						border-radius: 10px;
					}
				}
			}
		}
	}

	.articles {
		grid-column-start: 2;
		margin-top: 1rem;

		a {
			color: #a090ff;
			text-decoration: underline;
		}

		.article_heading {
			display: flex;
			align-items: center;
			margin-bottom: 1.2rem;

			a {
				margin-left: 5px;
				transition: opacity 120ms ease;
				opacity: 0;
			}

			h2:hover,
			h2:focus {
				a {
					opacity: 1;
				}
			}
		}
		span {
			min-height: 40px;
			height: 100%;
			width: 4px;
			background-color: #a090ff;
			border-radius: 4px;
		}

		article {
			margin-bottom: 2.8rem;
			scroll-margin-top: 2.8rem;
			font-size: 16px;
			line-height: 150%;

			table {
				width: 100%;
				border-collapse: collapse;

				td {
					min-width: 100px;
					padding: 0.5rem 0;
					border: 0.2px solid hsla(221, 91%, 77%, 0.5) !important;
					padding: 1rem !important;
					word-wrap: break-word;
				}
				tr {
					&.solitude {
						background-color: hsla(223, 84%, 95%, 0.5);
					}
					&.sol_border {
						border-bottom: 1px solid #91b3fa !important;
					}
					&:first-of-type {
						background-color: hsl(222, 83%, 95%);
					}
				}
			}

			h2 {
				font-weight: 600;
				margin-left: 1.5rem;
			}

			.articleContent {
				margin-left: 3rem;
			}

			h3 {
				font-weight: 700;
				font-size: 16px;
				line-height: 150%;
				margin: 1.2rem 0;
				scroll-margin-top: 1.2rem;
			}

			li {
				margin-bottom: 0.5rem;

				strong {
					font-weight: 500;
				}
			}

			figure {
				margin: 0 auto;
				max-width: 100%;

				img {
					width: 100%;
					margin: 1rem 0;
				}
			}

			@media screen and (max-width: 1001px) {
				scroll-margin-top: 65px;

				h2 {
					margin-left: 1rem;
				}

				h3 {
					scroll-margin-top: 65px;
				}

				.articleContent {
					margin-left: 2rem;
				}
			}
		}

		&.addBlur {
			filter: blur(5px);
			pointer-events: none;
		}
	}

	@media screen and (max-width: 1000px) {
		display: block;
		width: 100%;
		padding: 0 1rem;

		.sidebar {
			display: none;
		}
	}
}

figure.table {
	overflow-x: scroll;
	scrollbar-color: rgb(100, 98, 98) white;

	&::-webkit-scrollbar-track {
		background: white;
	}
}



.tooltip-wrapper {
	position: relative;

	span[role='tooltip'] {
		font-size: 0.8em;
		bottom: 100%;
		left: 50%;
		margin-bottom: 15px;
		opacity: 0;
		padding: 0.5rem;
		width: max-content;
		max-width: 200px;
		height: max-content;
		transform: translateY(10px) translateX(-50%);
		transition: all 0.25s ease-out;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		pointer-events: none;
		position: absolute;
		text-align: left;
		background-color: #e2dff1;
		color: black !important;

		&:before {
			bottom: -1.2em;
			height: 1.2em;
			left: 0;
			width: 100%;
			position: absolute;
			content: ' ';
			display: block;
		}

		&:after {
			border-left: solid transparent 0.8em;
			border-right: solid transparent 0.8em;
			border-top: solid rgba(66, 47, 161, 0.1) 0.8em;
			bottom: -0.8em;
			content: ' ';
			height: 0;
			left: 50%;
			margin-left: -13px;
			width: 0;
			position: absolute;
		}
	}

	&:hover,
	&:focus {
		span[role='tooltip'] {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0px) translateX(-50%);
		}
	}
}

.page-404 {
	display: grid;
	place-content: center;
	height: 90vh;
	text-align: center;
}

.noContent {
	width: 100%;
	height: 35vh;
	display: grid;
	place-content: center;
}

.backToTop {
	position: fixed;
	bottom: 20px;
	right: 40px;
	visibility: hidden;

	opacity: 0;
	transition: opacity $d $e, visibility $d $e;

	svg {
		fill: #604294;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.searchPage {
	display: grid;
	justify-content: center;
	min-height: 90vh;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr;

	input {
		height: 40px;
		width: 100%;
		margin: 2rem 0 1rem;
	}
}

.searchPageResults {
	.suggested {
		font-size: 0.8rem;
		padding-left: 0;
		padding-bottom: 1rem;
		color: #555;
	}

	ul {
		padding-left: 0;
		list-style: none;

		li {
			margin-bottom: 3rem;
		}

		.searchTitle {
			font-size: 1.3rem;
			font-weight: 600;

			&:hover,
			&:focus {
				color: #604294;
			}
		}

		.searchChapter {
			font-size: 12px;
			background-color: #e2dff1;
			width: max-content;
			padding: 0.3rem 0.7rem;
			margin-top: 0.5rem;
			border-radius: 8px;
		}

		.searchContent {
			font-size: 1rem;
			font-weight: 400;
			padding-top: 0.5rem;
		}
	}

	em {
		background-color: #fddd48;
	}
}
