article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background:#212142;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #121213; 
}

/* side bar */
/* width */
.content::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
.content::-webkit-scrollbar-thumb {
background:#363370;
  border-radius: 10px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: #363370; 
}

:root {
  font-size: 12px;
}

header.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999999999999;
}

/* 
.section__heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
} */

li.suggestion_card:nth-child(4n) {
  margin-right: 0;
}

ul.new_home__cards {
  padding: 0;
  justify-content: center;
}

@media (min-width: 481px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  :root {
    font-size: 18px;
  }
}

:focus {
  outline-width: 3px;
  outline-color: #78aeda;
  outline-style: solid;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Mulish', sans-serif;
  /* font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  scroll-margin-top: 65px;
}
body.scroll--disable {
  overflow: hidden;
}
body {
  background: #F5F5F5;
}
a {
  color: inherit;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -100px;
  left: 0;
}

.footer {
  background-color: #0f1525;
}

.wrapper {
  min-width: 300px;
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  color: #222222;
  background-color: #dddddd;
}

.skiptarget {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
}

.skip-to-content-link {
  background: #4b4797;
  color: white;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.3s;
  line-height: 1.5;
}
.skip-to-content-link:focus {
  transform: translateY(0%);
}

.header {
  background-color: #29314f;
  display: grid;
  justify-content: center;
  min-height: 184px;
  color: #fff;
}
.header__container {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  position: relative;
}
.header .branding {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.header .branding__logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.3rem;
  font-weight: normal;
}
.header .branding__seperator {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0 16px;
  height: 28px;
}
.header .branding__obi {
  height: 28px;
}
.header .branding__obi img {
  width: 11rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__desc {
  display: grid;
  grid-area: 2/1/2/3;
  margin-top: 1rem;
  padding: 1rem 0;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  width: 90vw;
}
.header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  align-self: flex-end;
  width: 100%;
}
.header__search {
  width: 130px;
  height: 38px;
  box-sizing: border-box;
  background: #4b4797;
  border-radius: 4px;
  border: 2px solid transparent;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-top: 1rem;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1), border 700ms cubic-bezier(0.19, 1, 0.22, 1);
  background-image: url(public/assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.header__search:hover, .header__search:focus {
  background-color: #273051;
  border: 2px solid #4b4797;
}

a.header__search {
  width: 300px;
  background-position: left 20px center;
  padding-left: 60px;
}

section.header__desc {
  display: none;
  height: 0;
  width: 0;
}

header.header {
  min-height: auto;
  padding-bottom: 20px;
}

.highlights {display: none;}

@media (max-width: 768px) {
  .header {
    display: flex;
    padding: 1rem 2rem;
  }
  .header__container {
    width: 100%;
    padding: 0;
    grid-template-columns: 1fr;
  }
  .header__search {
    display: none;
  }
}

.highlights {
  min-height: 80px;
  background-color: #29314f;
  color: #ffffff;
  padding: 1rem 0;
}
.highlights a {
  text-decoration: underline;
}
.highlights__bar {
  height: 60%;
  min-height: 30px;
  width: 4px;
  background-color: #a090ff;
  border-radius: 4px;
}
.highlights__container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
}
.highlights .news {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.highlights .news__item {
  visibility: hidden;
  width: 100%;
  position: absolute;
  left: -100%;
  z-index: -1;
}
.highlights .news__item--current {
  visibility: visible;
  position: static;
}
.highlights__text {
  display: block;
  margin: 1rem 1.5rem;
  font-size: 14px;
  line-height: 1.5;
  max-width: 900px;
}
.highlights__controls button {
  background: #0f1525;
  border-radius: 2px;
  border: none;
  width: 43px;
  height: 30px;
  color: white;
  font-size: 24px;
}
.highlights__controls button.disabled {
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.highlights__back {
  margin-right: 0.5rem;
}
.highlights__back img {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .highlights {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
  }
  .highlights__text,
.highlights span {
    grid-row-start: 1;
  }
  .highlights__controls {
    justify-self: center;
    margin-top: 1rem;
    grid-column: 1/3;
  }
}

.card {
  justify-self: center;
  width: 100%;
  max-width: 265px;
  height: 320px;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  color: #fff;
  border: 2px solid white;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(218.46deg, #00138f 9.79%, #604294 74.73%);
}
.card__content {
  height: 100%;
  display: grid;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
.card__content > * + * {
  margin-top: 1rem;
}
.card:hover, .card:focus-within {
  border: 2px solid #4b4797;
  box-shadow: 0px 8px 16px rgba(116, 111, 111, 0.14);
}
.card__image {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
}
.card img {
  justify-self: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.card__title {
  padding: 0 0.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: flex-start;
  color: #0f1525;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 135%;
  order: 1;
}
.card__soon {
  position: absolute;
  top: 0.5rem;
  left: -3px;
}
.card__desc {
  position: absolute;
  font-size: 1rem;
  padding: 0 1rem;
  color: #000000;
  opacity: 0;
}
.card[bgcolor="1"] {
  background: linear-gradient(218.46deg, #9779d3 9.79%, #febbba 74.73%);
}
.card[bgcolor="2"] {
  background: linear-gradient(218.46deg, #f4b65e 9.79%, #e8d5d4 96.99%);
}
.card[bgcolor="3"] {
  background: linear-gradient(218.46deg, #479aaa 9.79%, #c9d8fc 96.99%);
}
.card[bgcolor="4"] {
  background: linear-gradient(218.46deg, #c9d8fc 9.79%, #e8d5d4 96.99%);
}
.card[bgcolor="5"] {
  background: linear-gradient(218.46deg, #ff928e 9.79%, #febbba 74.73%);
}
.card[bgcolor="6"], .card[bgcolor="0"] {
  background: linear-gradient(218.46deg, #d14981 9.79%, #dae3fe 79.73%);
}
@media (max-width: 768px) {
  .card {
    grid-template-rows: 1fr;
    height: 18rem;
  }
  .card__image {
    display: none;
  }
  .card__title {
    align-self: flex-start;
    transform: translateY(0);
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .card__desc {
    opacity: 1;
  }
  .card__soon {
    width: 85px;
  }
}

@media (min-width: 769px) {
  .card--desc .card__image,
.card--desc .card__title,
.card--desc .card__desc {
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card--desc .card__desc {
    opacity: 0;
    transform: translateY(1rem);
  }
  .card--desc:hover .card__image, .card--desc:focus-within .card__image {
    opacity: 0;
    transform: translateY(-30%);
  }
  .card--desc:hover .card__title, .card--desc:focus-within .card__title {
    transform: translateY(-9rem);
  }
  .card--desc:hover .card__desc, .card--desc:focus-within .card__desc {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 87.5ms;
  }
  .card--desc:focus .card__title,
.card--desc:focus .card__image,
.card--desc:focus .card__desc {
    transition-duration: 0s;
  }
}
.carousel {
  height: 290px;
  background-color: #29314f;
}
.carousel__container {
  position: relative;
  display: flex;
  height: 100%;
}
.carousel__heading {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  position: absolute;
  top: 1.5rem;
}
.carousel__controls {
  position: absolute;
  right: 0;
  top: 1rem;
}
.carousel__controls button {
  background: #0f1525;
  border-radius: 2px;
  border: none;
  width: 43px;
  height: 30px;
}
.carousel__controls--disabled {
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.carousel__back {
  margin-right: 0.5rem;
}
.carousel__back img {
  transform: rotate(180deg);
}
.carousel .videos {
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  margin-bottom: 1.5rem;
  list-style: none;
  align-self: flex-end;
  padding-left: 0;
}
.carousel .videos::-webkit-scrollbar {
  display: none;
}
.carousel .videos.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.carousel iframe {
  width: 360px;
  height: 190px;
  margin-right: 2rem;
  border: none;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  width: 360px;
  height: 190px;
  margin-right: 2rem;
}

/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-top: 15px solid transparent;
  border-left: 30px solid #fff;
  border-bottom: 15px solid transparent;
  width: 0;
  height: 0;
}

.footer {
  background-color: #0f1525;
  color: #ffffff;
}
.footer a {
  font-size: 0.8rem;
  text-decoration: underline;
}
.footer__wrapper {
  max-width: 1260px;
  margin: 0 auto;
}
.footer__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 40px 1rem;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

@media (max-width: 1024px) {
  .footer__links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
  }
  .footer__links__section:first-child {
    grid-area: 1/1/3/2;
  }
}
.footer__links-section p {
  font-size: 16px;
  font-weight: 600;
}
.footer__links-section a {
  display: block;
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .footer__links-section:first-child {
    grid-area: 1/1/3/2;
  }
}
.footer__logo {
  margin-right: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.footer__logo img {
  width: 13rem;
}
.footer .attribute {
  background-color: #273051;
}
.footer .attribute__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 1rem;
  width: 100%;
}
.footer .attribute__links {
  display: flex;
  align-items: center;
}
.footer .attribute__links a {
  margin-left: 1.5rem;
}
.footer .attribute__links a:first-of-type {
  margin-left: 0;
}
.footer .attribute__logos a, .footer .attribute__social a {
  margin-right: 1rem;
}


footer.footer, .footer .attribute {
  background-color: #101524;
}

footer.footer {padding-top: 20px;padding-bottom: 20px;}
p.footer_text_rights {
  font-size: 14px;
}
button.lty-playbtn {
  display: none !important;
}


.yt-lite {
  margin-right: 0;
  padding-right: 2rem;
  border-radius: 8px;
}


li.youtubelist-text {
  margin-right: 2rem;
  border-radius: 8px;
  position: relative;
}

li.youtubelist-text>.youtubetext-overlay {
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1;
  padding-bottom: 20px;
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  background: linear-gradient(360deg, black, transparent);
}
.youtubetext-overlay p{
  z-index: 1;
  color: #fff;
  font-size: 14px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homepage_heading_new_container {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0px;
}

h1.homepage_heading_new {
  text-align: center;
  line-height: 1.8em;
}

a.header__search {
  background-color: #484872;
}
.product_card_rom_count_cont {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 30px;
  width: 30px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 100%;
}

p.product_card_roman_number {
  color: #F5899D;
  font-size: 14px;
  font-weight: bold;
}

li.chapter_card_parent {
  list-style: none;
  position: relative;
  width: 100%;
}

a.new_card__content {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

a.new_card__content picture.new_card__image img {
  width: 100%;
  min-height: 190px;
}


.card_text_container {
  padding: 16px;
}

.card_text_container h2.new_card__title {
  font-size: 1.1rem;
  padding-bottom: 10px;
  line-height: 1.8rem;
}

.card_text_container p.new_card__desc {
  font-size: 0.7rem;
  color: #5F5F5F;
  line-height: 1.3rem;
}

.no_focus:focus {
  outline-width: 0px !important;
  outline-style: none !important;
  outline-color: transparent;
}

ul.new_home__cards {
  display: flex;
  flex-wrap: wrap;
}

li.chapter_card_parent {
  width: 22%;
  margin-right: 3%;
  margin-bottom: 30px;
}

li.chapter_card_parent:nth-child(4n) {
  margin-right: 0;
}

/* li.chapter_card_parent:nth-child(8n), 
li.chapter_card_parent:nth-child(8n+6){
  margin-top: -60px;
}

li.chapter_card_parent:nth-child(8n) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+1) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+3) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+6) a.new_card__content picture.new_card__image img {
    min-height: 250px;
}

li.chapter_card_parent:nth-child(2), li.chapter_card_parent:nth-child(4) {
    margin-top: 0 !important;
} */

li.chapter_card_parent:nth-child(8n), 
li.chapter_card_parent:nth-child(8n+2),
li.chapter_card_parent:nth-child(8n+4),
li.chapter_card_parent:nth-child(8n+6){
  margin-top: -60px;
}

li.chapter_card_parent:nth-child(8n) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+1) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+3) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+5) a.new_card__content picture.new_card__image img,
li.chapter_card_parent:nth-child(8n+7) a.new_card__content picture.new_card__image img {
    min-height: 250px;
}

li.chapter_card_parent:nth-child(8n+2) a.new_card__content picture.new_card__image img ,
  li.chapter_card_parent:nth-child(8n+6) a.new_card__content picture.new_card__image img {
    min-height: 250px;
}

li.chapter_card_parent:nth-child(2) a.new_card__content picture.new_card__image img {
  min-height: 160px;
}

li.chapter_card_parent:nth-child(2), li.chapter_card_parent:nth-child(4) {
    margin-top: 0 !important;
}

.card_text_container p.new_card__desc {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card_text_container h2.new_card__title {
  /* height: 70px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
@media (max-width: 768px) {
  .footer__main {
    grid-template-columns: 1fr !important;
  }
  .footer__container {
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  .footer__logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .footer__links {
    flex-basis: 100%;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }
  .footer__links-section:nth-child(2), .footer__links-section:nth-child(3) {
    justify-self: end;
    width: 210px;
  }
  .footer .attribute .wrapper {
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  .footer .attribute__links {
    flex-basis: 100%;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .footer__links {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .footer__links-section {
    width: 100%;
    justify-self: center;
  }
  .footer__links-section a {
    font-size: 14px;
  }
  .footer__links-section:nth-child(2), .footer__links-section:nth-child(3) {
    justify-self: center;
    margin-top: 2rem;
    width: 100%;
  }
}

.home__mobile-search {
  width: 130px;
  height: 38px;
  box-sizing: border-box;
  background: #4b4797;
  border-radius: 4px;
  border: 2px solid transparent;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-top: 1rem;
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1), border 700ms cubic-bezier(0.19, 1, 0.22, 1);
  background-image: url(public/assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  width: 100%;
  max-height: 55px;
  height: 55px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 0;
  border-radius: 0;
}
.home__mobile-search:hover, .home__mobile-search:focus {
  background-color: #273051;
  border: 2px solid #4b4797;
}
.home__mobile-search a {
  font-size: 1.5rem;
  display: block;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
@media (min-width: 769px) {
  .home__mobile-search {
    display: none;
  }
}
.home__cards {
  margin: 2rem auto;
  display: grid;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-left: 0;
}
@media screen and (max-width: 1240px) {
  .home__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .home__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.navigation {
  width: 100%;
  color: #fff;
  background-color: #0f1525;
}
.navigation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1260px;
  padding: 1rem 0.5rem;
  justify-content: space-between;
}
.navigation__section {
  width: 100%;
}
.navigation__section:last-of-type {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: end;
}
.navigation__button {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}
.navigation__button img {
  cursor: pointer;
  width: 3rem;
}
.navigation__button span p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.navigation__button span h2 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 135%;
}
.navigation__button--back {
  justify-self: start;
}
.navigation__button--back span {
  padding-left: 1rem;
}
.navigation__button--forward {
  text-align: end;
  justify-self: end;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
}
.navigation__button--forward img {
  order: 1;
  transform: scaleX(-1);
}
.navigation__button--forward span {
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .navigation__section a span p {
    font-size: 0.8rem;
  }
  .navigation__section a span h2 {
    font-size: 1rem;
  }
}

.menu {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  height: 55px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: sticky;
  top: 0;
}
.menu__button {
  background-color: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 150%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}
.menu__button p {
  margin: 0;
}
.menu__button.hide {
  display: none;
}
.menu__content-icon {
  margin-left: 0.5rem;
  width: 1rem;
  transition: transform 0.2s ease-out;
}
.menu .content {
  list-style: none;
  z-index: 1;
  width: 100%;
  display: none;
  position: absolute;
  background: #f6f5fa;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  top: 54px;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}
.menu .content::-webkit-scrollbar-track {
  background: #f6f5fa;
}
.menu .content__link {
  align-items: center;
  padding-right: 1rem;
}
.menu .content__link a {
  display: block;
  width: inherit;
  height: inherit;
  margin: 0.5rem;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  text-align: start;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.menu .content__link a p {
  line-height: 150%;
}
.menu .content__link a p:first-child {
  margin-right: 1rem;
}
.menu .content--active {
  font-weight: bold;
  color: #4b4797;
}
.menu .content--active li {
  font-weight: normal;
  color: black;
}
.menu__dropdown--active .content {
  display: block;
}
.menu__dropdown--active .menu__content-icon {
  transform: rotate(-180deg);
}
.menu__search {
  display: flex;
  align-items: center;
  position: relative;
}
.menu__search-icon {
  margin-right: 1.5rem;
  width: 25px;
}
.menu__search-icon--hide {
  display: none;
}
.menu--active {
  border: 1px solid #604294;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
.chapter .section__heading{
  margin-left: 2rem;
}

@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}
.menu .sub-heading {
  list-style: none;
  padding-left: 20px;
}
.menu .sub-heading__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  margin-left: 0.5rem;
}
.menu .sub-heading__link a {
  width: inherit;
  height: inherit;
  margin: 0.5rem;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  text-align: start;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.menu .sub-heading__link--active {
  color: #4b4797 !important;
  font-weight: 500 !important;
}

.sidebar {
  margin-left: -36px;
  width: 17rem;
}
.sidebar .content {
  list-style: none;
  padding: 0;
  background: rgba(66, 47, 161, 0.05);
  border-radius: 10px;
  position: sticky;
  top: 1rem;
  max-height: 75vh;
  overflow-y: auto;
  z-index: 1;
  width: 100%;
}
.sidebar .content__link {
  align-items: center;
  margin: 0.5rem;
  font-size: 16px;
}
.sidebar .content__link a {
  display: block;
  width: inherit;
  height: inherit;
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
  text-align: start;
}
.sidebar .content--active {
  font-weight: bold;
  color: #4b4797;
}
.sidebar .content--active li {
  font-weight: normal;
  color: black;
}
.sidebar .sub-heading {
  list-style: none;
  padding-left: 20px;
}
.sidebar .sub-heading__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  margin-left: 0.5rem;
}
.sidebar .sub-heading__link a {
  display: block;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5rem;
  text-align: start;
}
.sidebar .sub-heading__link--active {
  color: #4b4797 !important;
  font-weight: 500 !important;
}
.sidebar .sub-heading:focus-within {
  display: block;
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .menu {
    top: 75px;
}
}

.chapter {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 17rem 1fr;
}
.chapter--blur {
  filter: blur(5px);
  pointer-events: none;
}
.chapter p {
  margin: 0.7rem 0;
}
.chapter__container {
  grid-column-start: 2;
  margin-top: 1rem;
}
.chapter .section {
  margin-bottom: 2.8rem;
  scroll-margin-top: 2.8rem;
  font-size: 16px;
  line-height: 150%;
}
.chapter .section__content {
  margin-left: 3rem;
}
.chapter .section__heading {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.chapter .section__heading h2 {
  font-weight: 600;
  margin-left: 1.5rem;
  line-height: 1.3;
}
.chapter .section__heading:hover .section__anchor, .chapter .section__heading:focus .section__anchor {
  opacity: 1;
}
.chapter .section__anchor {
  margin-left: 5px;
  transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.chapter .section__anchor:hover, .chapter .section__anchor:focus {
  opacity: 1;
}
.chapter .section__sub-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin: 1.2rem 0;
  scroll-margin-top: 1.2rem;
}
.chapter .section li {
  margin-bottom: 0.5rem;
}
.chapter .section li strong {
  font-weight: 700;
}
.chapter .section figure.table {
  overflow-x: auto;
  scrollbar-color: #646262 white;
}
.chapter .section figure.table::-webkit-scrollbar-track {
  background: white;
}
.chapter .section figure.table table {
  width: 100%;
  border-collapse: collapse;
}
.chapter .section figure.table table th {
  background-color: #e8eefd;
  border: 0.2px solid rgba(143, 177, 250, 0.5);
  font-weight: 500;
}
.chapter .section figure.table table td {
  min-width: 100px;
  padding: 0.5rem 0;
  border: 0.2px solid rgba(143, 177, 250, 0.5) !important;
  padding: 1rem !important;
  word-wrap: break-word;
}
.chapter .section figure.table table tr.solitude {
  background-color: rgba(232, 238, 253, 0.5);
}
.chapter .section figure.table table tr.sol_border {
  border-bottom: 1px solid #91b3fa !important;
}
.chapter .section figure {
  margin: 0 auto;
  max-width: 100%;
}
.chapter .section figure img {
  width: 100%;
  margin: 1rem 0;
}
@media (max-width: 1024px) {
  .chapter .section {
    scroll-margin-top: 65px;
  }
  .chapter .section h2 {
    margin-left: 1rem;
  }
  .chapter .section h3 {
    scroll-margin-top: 65px;
  }
  .chapter .section__content {
    margin-left: 0rem;
  }
  .chapter .section__heading {
    margin-left: 0rem;
}
}
.chapter .section a {
  color: #a090ff;
  text-decoration: underline;
}
.chapter .section__bar {
  min-height: 40px;
  height: 100%;
  width: 4px;
  background-color: #a090ff;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  .chapter {
    display: block;
    width: 100%;
    padding: 0 1rem;
  }
  /* .section__heading{
    top:50px;
  } */
}
.chapter .tooltip-wrapper {
  position: relative;
  font-weight: 600;
}
.chapter .tooltip-wrapper span {
  color: #4b4797 !important;
}
.chapter .tooltip-wrapper span[role=tooltip] {
  font-size: 0.8em;
  bottom: 100%;
  left: 50%;
  margin-bottom: 15px;
  opacity: 0;
  padding: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transform: translateY(10px) translateX(-50%);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  pointer-events: none;
  position: absolute;
  text-align: left;
  background-color: #e2dff1;
  color: black !important;
  font-weight: 400;
}
.chapter .tooltip-wrapper span[role=tooltip]:before {
  bottom: -1.2em;
  height: 1.2em;
  left: 0;
  width: 100%;
  position: absolute;
  content: " ";
  display: block;
}
.chapter .tooltip-wrapper span[role=tooltip]:after {
  border-left: solid transparent 0.8em;
  border-right: solid transparent 0.8em;
  border-top: solid rgba(66, 47, 161, 0.1) 0.8em;
  bottom: -0.8em;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  width: 0;
  position: absolute;
}
.chapter .tooltip-wrapper:hover span[role=tooltip], .chapter .tooltip-wrapper:focus span[role=tooltip] {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px) translateX(-50%);
}

.no-content {
  width: 100%;
  height: 35vh;
  display: grid;
  place-content: center;
}

.back-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1), visibility 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
.back-top svg {
  fill: #604294;
}
.back-top.active {
  opacity: 1;
  visibility: visible;
}

.search {
  display: grid;
  justify-content: center;
  min-height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
}
.search__form {
  margin-top: 2rem;
}
.search__input {
  height: 40px;
  width: 100%;
  margin: 0.2rem 0 1rem;
}
.search__results ol {
  padding-left: 0;
  list-style: none;
}
.search__results ol li {
  margin-bottom: 3rem;
}
.search__results em {
  background-color: #fddd48;
}
.search__headline {
  font-size: 0.8rem;
  padding-bottom: 0;
  color: #555;
}
.search__title {
  font-size: 1.3rem;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.search__title > div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.search__title:hover, .search__title:focus {
  color: #604294;
}
.search__chapter {
  font-size: 12px;
  background-color: #e2dff1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem 0.7rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}
.search__content {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

.page-404 {
  display: grid;
  place-content: center;
  height: 90vh;
  text-align: center;
}
.section__heading h2 {
  color: #363370;
}

h2.section_number_chap {
  margin-right: 20px;
}

.chapter .section__bar {
  background-color: #F5899D;
}
.chapter__container {
  background: #FFFFFF;
  box-shadow: -15px -15px 30px rgba(0, 0, 0, 0.02), 15px 15px 30px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
}

.chapter_body_padding {
  width: 90%;
  margin: 0 auto;
}

.chapter_heading_image {
  position: relative;
}

.chapter_heading_image picture.chapter_heading_img,.chapter_heading_image picture.chapter_heading_img img {
  width: 100%;
  height: 280px;
}

.chapter_page_roam {
  position: absolute;
  top: 10%;
  left: 3%;
  height: 30px;
  width: 30px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 100%;
}

.chapter_page_roam p {
  color: #F5899D;
  font-size: 14px;
  font-weight: bold;
}

.chapter_head_heading_new h1 {
  color: #2E2F33;
  padding: 30px 100px;
}

nav.sidebar .content {
  border-top: 7px solid #363370;
  background: #fff;
}

li.content__container.content__link {
  border-bottom: 1px solid #ddd;
}

li.content__container.content__link:last-child {
  border-bottom: 0;
}
.sidebar_cahp_head {
  margin: 1rem;
}

.naviagetion_container_new {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0px 5rem;
}

a.navigation__button_new {
  display: flex;
  height: 200px;
}

.new_pre_chaper,.new_next_chaper {
  border-radius: 10px;
  background: #fff;
}

img.image_pre_next_navigation {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

a.navigation__button_new span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
}

.navaigation_img {
  position: relative;
}

.chapter_page_roam_navigation_page {
  position: absolute;
  top: 7%;
  left: 7%;
  height: 30px;
  width: 30px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 100%;
}

.chapter_page_roam_navigation_page p {
  color: #F5899D;
  font-size: 14px;
  font-weight: bold;
}

a.navigation__button_new span p {
  background: #F5899D;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  text-align: center;
  font-size: 0.7rem;
  width: fit-content;
  font-weight: bold;
  padding: 0.1rem 1rem;
  color: #fff;
  margin-bottom: 0.8rem;
}

a.navigation__button_new.navigation__button_new--forward {
  flex-direction: row-reverse;
}
a.navigation__button_new.navigation__button_new--forward.navigation__button_new span {
  align-items: end;
  text-align: right;
}
.new_pre_chaper img.image_pre_next_navigation {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.new_next_chaper img.image_pre_next_navigation {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
section.seggestion-section-chapter-page {
  background: #C06C84;
  padding: 3rem 0px;
}

.suggestion_head h2 {
  color: #fff;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
ul.card_suggestion_ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

li.suggestion_card {
  width: 22%;
  margin-right: 3%;
  margin-bottom: 30px;
  position: relative;
}

.suggestion_img_container img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
}
.text_suggestion_container {position: absolute;top: 0;}

.text_suggestion_container {padding: 20px 20px;height: 100%;display: flex;flex-direction: column;justify-content: space-between;}

.suggestion_roam {
  width: 30px;
  height: 30px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 100%;
}

.suggestion_roam p {
  color: #F5899D;
  font-size: 14px;
  font-weight: bold;
}

li.youtubelist-text:hover .youtubetext-overlay {
  visibility: hidden;
 opacity: 0;
 transition: visibility 0s, opacity 0.5s linear;
}

li.youtubelist-text .youtubetext-overlay {
    visibility: visible;
 opacity: 1;
}


@media (max-width: 768px) {
  li.chapter_card_parent {
    width: 43%;
}

/* .section__heading{
  top:55px;
} */
li.chapter_card_parent:nth-child(2n), li.chapter_card_parent:nth-child(2), li.chapter_card_parent:nth-child(4), li.chapter_card_parent,li.chapter_card_parent:nth-child(8n), 
li.chapter_card_parent:nth-child(8n+6) {
    margin-right: 0;
    margin-top: 0;
}

ul.new_home__cards {
    justify-content: space-around;
}

li.chapter_card_parent a.new_card__content picture.new_card__image img {
    min-height: 220px !important;
}
.footer .attribute__links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.footer_text_rights {
  font-size: 12px;
}
.card_text_container h2.new_card__title {
  height: auto;
}

.card_text_container p.new_card__desc {
  height: auto;
}
.naviagetion_container_new {
  flex-direction: column;
}

.new_pre_chaper {
  margin-bottom: 2rem;
}

.new_next_chaper {flex: 1;}

a.navigation__button_new.navigation__button_new--forward {
  width: 100%;
}

li.suggestion_card {
  width: 45%;
  margin-right: 0;
}

ul.card_suggestion_ul {
  justify-content: space-around;
}

.suggestion_img_container img {
  height: 220px;
}
}

@media (max-width: 500px) {
li.chapter_card_parent {
  width: 100%;
}

li.chapter_card_parent a.new_card__content picture.new_card__image img {
  min-height: 150px;
}
.chapter_heading_image picture.chapter_heading_img, .chapter_heading_image picture.chapter_heading_img img {
  height: auto;
}

.chapter_head_heading_new h1 {
  padding: 30px;
  padding-left: 60px;
  padding-right: 20px;
}

li.suggestion_card {
  width: 100%;
}

.suggestion_img_container img {
  height: 180px;
}

.menu {
  top: 70px;
}

}
a.new_card__content img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*# sourceMappingURL=app.css.map */