@use '../../styles/tools' as *;

.menu {
	background-color: #ffffff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	height: 55px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: sticky;
	top: 0;

	&__button {
		background-color: transparent;
		width: max-content;
		border: none;
		cursor: pointer;
		outline: none;

		font-weight: 600;
		font-size: 1.3rem;
		line-height: 150%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 1.5rem;

		p {
			margin: 0;
		}

		&.hide {
			display: none;
		}
	}

	&__content-icon {
		margin-left: 0.5rem;
		width: 1rem;
		transition: transform 0.2s ease-out;
	}

	.content {
		list-style: none;
		z-index: 1;
		width: 100%;
		display: none;
		position: absolute;
		background: #f6f5fa;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
		border-radius: 0px 0px 5px 5px;
		margin: 0;
		top: 54px;
		padding: 1rem;
		max-height: 60vh;
		overflow-y: scroll;

		&::-webkit-scrollbar-track {
			background: rgb(246, 245, 250);
		}

		&__link {
			align-items: center;
			padding-right: 1rem;

			a {
				display: block;
				width: inherit;
				height: inherit;
				margin: 0.5rem;
				display: grid;
				grid-template-columns: max-content 1fr;
				text-align: start;
				font-size: 1rem;
				padding: 0.5rem 0;

				p {
					line-height: 150%;

					&:first-child {
						margin-right: 1rem;
					}
				}
			}
		}

		&--active {
			font-weight: bold;
			color: #4b4797;
			li {
				font-weight: normal;
				color: black;
			}
		}
	}

	&__dropdown {
		&--active {
			.content {
				display: block;
			}
			.menu__content-icon {
				transform: rotate(-180deg);
			}
		}
	}

	&__search {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__search-icon {
		margin-right: 1.5rem;
		width: 25px;
		&--hide {
			display: none;
		}
	}

	&--active {
		border: 1px solid #604294;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	}

	@include respond-to('mt-laptop') {
		display: none;
	}

	.sub-heading {
		list-style: none;
		padding-left: 20px;

		&__link {
			font-weight: normal;
			font-size: 14px;
			line-height: 135%;
			margin-left: 0.5rem;

			a {
				width: inherit;
				height: inherit;
				margin: 0.5rem;
				display: grid;
				grid-template-columns: max-content 1fr;
				text-align: start;
				font-size: 1rem;
				padding: 0.5rem 0;
			}

			&--active {
				color: #4b4797 !important;
				font-weight: 500 !important;
			}
		}
	}
}
